DDona.Siscarpio.Web/Service References/UsuarioReference/Usuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Usuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pc-sala:3123/DDona.Siscarpio.Wcf.Usuario.Usuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pc-sala:3123/DDona.Siscarpio.Wcf.Usuario.Usuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pc-sala:3123/DDona.Siscarpio.Wcf.Usuario.Usuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DDona.Siscarpio.Dto.Usuario" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuario_GetAllUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuario_GetAllUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_GetUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuario_GetUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_LogUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LogUser" />
  </wsdl:message>
  <wsdl:message name="IUsuario_LogUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_SaveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUser" />
  </wsdl:message>
  <wsdl:message name="IUsuario_SaveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuario">
    <wsdl:operation name="GetAllUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/GetAllUsuarios" message="tns:IUsuario_GetAllUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/GetAllUsuariosResponse" message="tns:IUsuario_GetAllUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/GetUsuarios" message="tns:IUsuario_GetUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/GetUsuariosResponse" message="tns:IUsuario_GetUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/LogUser" message="tns:IUsuario_LogUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/LogUserResponse" message="tns:IUsuario_LogUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/SaveUser" message="tns:IUsuario_SaveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/SaveUserResponse" message="tns:IUsuario_SaveUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuario" type="tns:IUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuario/GetAllUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuario/GetUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogUser">
      <soap:operation soapAction="http://tempuri.org/IUsuario/LogUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUser">
      <soap:operation soapAction="http://tempuri.org/IUsuario/SaveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usuario">
    <wsdl:port name="BasicHttpBinding_IUsuario" binding="tns:BasicHttpBinding_IUsuario">
      <soap:address location="http://pc-sala:3123/DDona.Siscarpio.Wcf.Usuario.Usuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>