DDona.Siscarpio.ConsoleTeste/Service References/UsuarioReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DDona.Siscarpio.Dto.Usuario" />
  <xs:element name="GetAllUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DDona.Siscarpio.Dto.Usuario" minOccurs="0" name="GetAllUsuariosResult" nillable="true" type="q1:ArrayOfUsuarioListagemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>